<%- include ("./partials/header.ejs") %>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 col-lg-7 mx-auto text-center">
      <img src="/img/svg/404.svg" alt="" />
    </div>
  </div>
</div>

<%- include ("./partials/footer.ejs") %>
