<%- include ("./partials/header.ejs") %>

<section id="dashboard">
  <div class="container px-sm-5 my-4">
    <div class="row">
      <% for( let index = 0; index < 5; index++ ) { %>
      <div class="col-md-9 mx-auto">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="
              https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.r-UF3h84JiIwOhrUjSSe3QHaE8%26pid%3DApi&f=1 "
                class="img-fluid rounded-start"
                alt="..."
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Book title</h5>
                <p class="card-text">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Harum debitis ipsum libero! Minus, deserunt quis.
                </p>
                <p class="card-text">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</section>

<%- include ("./partials/footer.ejs") %>
