<%- include ("./partials/header.ejs") %>
<section id="dashboard">
  <div class="container px-sm-5 mt-2 mb-4">
    <%- include ("./components/user.navbar.ejs") %>
    
    <div class="row">
      <% for( let index = 0; index < 6; index++ ) { %>
      <div class="col-md-6 col-lg-4 my-2">
        <div class="card text-white border">
          <img
            src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.nVJhjSlSlhvuiLrY0I3h5QHaE9%26pid%3DApi&f=1"
            class="card-img object-fit-cover"
            alt="..."
          />
          <div class="card-img-overlay bg-color-1">
            <h4 class="card-title">Book title</h4>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque,
              molestiae minus impedit maiores repudiandae nesciunt.
            </p>

            <a href="#" class="btn btn-dark"
              ><i class="bi-chevron-right me-1"></i>Read More</a
            >
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</section>

<%- include ("./partials/footer.ejs") %>
