@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.text-color-1 {
  color: #595260 !important;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0 #000000 !important;
}

.form-check-input,
.form-control:focus,
.form-control:active {
  border-color: #198754 !important;
  box-shadow: 0 0 0 0.1rem #198754 !important;
}

.object-fit-cover {
  object-fit: cover;
  height: 100%;
}

/* medium size and above */
@media (max-width: 767px) {
  .object-fit-cover {
    height: 15em;
  }
}
