<%- include ("../partials/header.ejs") %>

<section id="login">
  <div class="container mt-3 mb-5 px-sm-5">
    <div class="row">
      <div class="col-10 col-md-8 col-lg-6 mx-auto text-center">
        <h2>Login</h2>

        <p class="text-secondary">
          Don't have an account?
          <a href="/register" class="text-decoration-none">Register here!</a>
        </p>
        <form action="/login">
          <div class="form-floating mb-3">
            <input
              type="email"
              class="form-control rounded"
              id="floatingInput"
              name="email"
              placeholder="name@example.com"
              autofocus="true"
            />

            <label for="floatingInput">Email address</label>
          </div>
          <div class="mb-3">
            <div
              class="alert alert-warning text-center email-error"
              role="alert"
            ></div>
          </div>
          <div class="form-floating my-3">
            <input
              type="password"
              class="form-control rounded"
              id="floatingPassword"
              name="password"
              placeholder="Password"
            />
            <label for="floatingPassword">Password</label>
          </div>
          <div class="mb-3">
            <div
              class="alert alert-warning text-center password-error"
              role="alert"
            ></div>
          </div>

          <button type="submit" class="btn btn-dark">Submit</button>
        </form>
      </div>
    </div>
  </div>

  <script>
    const form = document.querySelector("form");

    const emailError = document.querySelector(".email-error");
    const passwordError = document.querySelector(".password-error");

    emailError.classList.add("d-none");
    passwordError.classList.add("d-none");

    form.addEventListener("submit", async (e) => {
      e.preventDefault();
      // get values
      const email = form.email.value;
      const password = form.password.value;
      try {
        const res = await fetch("/login", {
          method: "POST",
          body: JSON.stringify({ email, password }),
          headers: { "Content-Type": "application/json" },
        });

        const data = await res.json();

        if (data.errors) {
          if (data.errors.email) {
            emailError.classList.remove("d-none");
            emailError.textContent = data.errors.email;
          }

          if (data.errors.password) {
            passwordError.classList.remove("d-none");
            passwordError.textContent = data.errors.password;
          }
        }

        if (data.user) {
          location.assign("/");
        }
      } catch (error) {
        console.log(error);
      }
    });
  </script>
</section>

<%- include ("../partials/footer.ejs") %>
