<%- include ("../partials/header.ejs") %>

<section id="register">
  <div class="container mt-3 mb-5 px-sm-5">
    <div class="row">
      <div class="col-10 col-md-8 col-lg-6 mx-auto text-center">
        <h2>Register Here</h2>
        <p class="text-secondary">
          Already have an account?
          <a href="/login" class="text-decoration-none">Login here!</a>
        </p>

        <form action="/register">
          <div class="mb-3">
            <label for="inputEmail" class="form-label">Email address</label>
            <input
              type="email"
              class="form-control"
              id="inputEmail"
              name="email"
              aria-describedby="emailHelp"
              autofocus="true"
              placeholder="name@email.com"
            />
          </div>
          <div class="mb-3">
            <div
              class="alert alert-warning text-center email-error"
              role="alert"
            ></div>
          </div>
          <div class="mb-3">
            <label for="inputPassword" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="inputPassword"
              name="password"
              placeholder="Must be 6-20 characters long."
            />
          </div>
          <div class="mb-3">
            <div
              class="alert alert-warning text-center password-error"
              role="alert"
            ></div>
          </div>
          <!-- <div class="mb-3">
            <label for="inputPassword2" class="form-label"
              >Confirm Password</label
            >
            <input
              type="password"
              class="form-control"
              id="inputPassword2"
              name="password2"
            />
          </div> -->

          <button type="submit" class="btn btn-dark">Create</button>
        </form>
      </div>
    </div>
  </div>

  <script>
    const form = document.querySelector("form");

    const emailError = document.querySelector(".email-error");
    const passwordError = document.querySelector(".password-error");

    emailError.classList.add("d-none");
    passwordError.classList.add("d-none");

    form.addEventListener("submit", async (e) => {
      e.preventDefault();
      // get values
      const email = form.email.value;
      const password = form.password.value;
      try {
        const res = await fetch("/register", {
          method: "POST",
          body: JSON.stringify({ email, password }),
          headers: { "Content-Type": "application/json" },
        });

        const data = await res.json();

        if (data.errors) {
          if (data.errors.email) {
            emailError.classList.remove("d-none");
            emailError.textContent = data.errors.email;
          }

          if (data.errors.password) {
            passwordError.classList.remove("d-none");
            passwordError.textContent = data.errors.password;
          }
        }

        if (data.user) {
          location.assign("/");
        }
      } catch (error) {
        console.log(error);
      }
    });
  </script>
</section>
<%- include ("../partials/footer.ejs") %>
