<%- include ("../partials/header.ejs") %>

<section id="register">
  <div class="container mt-3 mb-5 px-sm-5">
    <div class="row">
      <div class="col-10 col-md-8 col-lg-6 mx-auto text-center">
        <h2>Register Here</h2>
        <p class="text-secondary">
          Already have an account?
          <a href="/login" class="text-decoration-none">Login here!</a>
        </p>

        <form action="/register" method="POST">
          <div class="mb-3">
            <label for="inputEmail" class="form-label">Email address</label>
            <input
              type="email"
              class="form-control"
              id="inputEmail"
              name="email"
              aria-describedby="emailHelp"
              autofocus="true"
              placeholder="name@email.com"
            />
          </div>
          <div class="mb-3">
            <label for="inputPassword" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="inputPassword"
              name="password"
              placeholder="Must be 6-20 characters long."
            />
          </div>
          <div class="mb-3">
            <label for="inputPassword2" class="form-label"
              >Confirm Password</label
            >
            <input
              type="password"
              class="form-control"
              id="inputPassword2"
              name="password2"
            />
          </div>

          <button type="submit" class="btn btn-dark">Create</button>
        </form>
      </div>
    </div>
  </div>
</section>
<%- include ("../partials/footer.ejs") %>
